@use "sass:color";

.header {
  position: relative;

  &_arrow {
    position: absolute;
    color: black;
    height: 2rem;
    width: 2rem;
    left: 2rem;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.restaurant_img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.menu {
  &_header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem 0 1rem;
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
  }

  &_title {
    font-family: "Shrikhand", "cursive";
  }

  &_heart:hover .far,
  .menu_heart .fas {
    opacity: 0;
  }

  &_heart:hover .fas {
    opacity: 1;
    transition: 2s;
    color: transparent;
    background-image: linear-gradient(0deg, color.scale($color-primary, $alpha: -10%) 0%, color.scale($color-secondary, $alpha: -10%) 100%);
    -webkit-background-clip: text;
  }

  &_heart i {
    @media (max-width: 20rem){
      margin-right: 1rem
    }
  }

  &_icon {
    margin-right:2rem;
    -webkit-text-stroke: 1px white
  }

  //.full {
  //  //opacity: 1;
  //  transition: 2s;
  //  color: transparent;
  //  background-image: linear-gradient(0deg, color.scale($color-primary, $alpha: -10%) 0%, color.scale($color-secondary, $alpha: -10%) 100%);
  //  -webkit-background-clip: text;
  //}

  &_icon {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 1rem;
    color: black;
  }
}



.restaurant {
  //display: flex;
  display: grid;
  flex-direction: column;
  gap: 1rem;
  background-color: #f6f6f6;
  padding: 1rem;

  h4:after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    width: 2.4rem;
    border: 2px solid $color-tertiary;
  }
  @media (min-width: 64rem){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
  }

  @media (min-width: 20rem){

  }
}

.dish-wrapper {
  @media (min-width: 20rem) and (max-width: 28rem){
    width: 25.5rem;
  }

  @media (min-width: 20rem) and (max-width: 22rem){
    width: 20rem;
  }

  //@media (min-width: 75rem) and (max-width: 60rem){
  //  width: 20rem;
  //}
}

.dish {
  display: flex;
  border-radius: 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 22%);
  animation: dishAnimation .6s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;

  margin-bottom: 1rem;

  &_content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
    flex-basis: 100%;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_detail{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &_test3{
    width: 50px;
    padding-top: 1.9rem;
    font-weight: bold;
  }

  &_price_information {
    display: flex;
    align-items: center;
    align-content: center;
  }

  &_title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &_description {
    max-width: 100%;
    display: inline-flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
  }

  &_price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;
    flex: 2;
  }

  &_validation {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $color-tertiary;
    width: 0;
    height: 6rem;
    transition: width 0.5s;
  }

  &:hover .dish_validation {
    width: 5rem;
  }

  &_icon_container {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: rotate(-280deg) scale(1.2);
    transition-duration: 0.5s;
  }

  &:hover &_icon_container {
    transform: rotate(0) scale(1.2);
  }

  &_icon {
    color: $color-tertiary;
  }

  &:last-child {
    margin-bottom: 3rem;
  }
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;

  &_btn {
    display: flex;
    justify-content: center;
    @include button(primary);
  }
}

@for $i from 0 to 10 {
  .delay-#{$i} {
    max-width: 100%;
    animation-delay: #{$i/10}s;
  }
}

